$telefono: 395px;
$tablet:768px;
$desktop: 1440px;

//COLORES
$AlmostWhite: hsl(0, 0%, 98%);
$MediumGray: hsl(0, 0%, 41%);
$AlmostBlack: hsl(0, 0%, 8%);

//fuente
$paragraph: 18px;
$family: 'Epilogue', sans-serif;
$Weights_s: 500; 
$Weights_p: 700;